<form id="coffeeShopForm">
  <div class="form-group">
    <label for="coffeeShopName">Coffee Shop Name:</label>
    <input class="form-control" type="text" id="coffeeShopName" placeholder="Coffee Shop Name:" required>
  </div>
  <div class="form-group">
    <label for="coffeeShopAddress">Coffee Shop Address:</label>
    <input class="form-control" type="text" id="coffeeShopAddress" placeholder="Coffee Shop Address:" required>
  </div>
  <div class="form-group">
    <label for="coffeeShopPicture">Picture file</label>
    <input type="file" class="form-control-file" id="coffeeShopPicture" required>
  </div>
  <div class="form-group">
    <label for="coffeeShopPriceRange">Price Range:</label>
    <select class="form-control" id="coffeeShopPriceRange">
      <option>$</option>
      <option>$$</option>
      <option>$$$</option>
      <option>$$$$</option>
    </select>
  </div>
  <div class="form-group">
    <label for="coffeeShopDescription">Description</label>
    <textarea class="form-control" id="coffeeShopDescription" rows="3" required></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Add Coffee Shop</button>
</form>

{{!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}
<script src="/js/alert.js"></script>