<div class="col-12 bg-gradient mb-5 mt-5 ml-2 mr-2 rounded divNewCoffeeShop">
  <form class="coffeeShopForm row g-3 needs-validation mr-3 ml-3" novalidate>
    <div class="form-group col-12 mt-2">
      <h1 class="addCoffeeh1">Add a new Coffee Shop ☕</h1>
    </div>
    <div class="form-group col-md-6">
      <label for="coffeeShopName" class="form-label h6">Coffee Shop Name:</label>
      <input class="form-control" type="text" id="coffeeShopName" placeholder="Name:" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="coffeeShopAddress" class="form-label h6">Coffee Shop Address:</label>
      <input class="form-control" type="text" id="coffeeShopAddress" placeholder="Address:" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a valid address.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="coffeeShopPicture" class="form-label h6">Picture file</label>
      <input type="file" class="form-control-file" id="coffeeShopPicture" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="coffeeShopPriceRange" class="form-label h6">Price Range:</label>
      <select class="form-select form-control" id="coffeeShopPriceRange" required>
        <option selected disabled value="">Choose...</option>
        <option>$</option>
        <option>$$</option>
        <option>$$$</option>
        <option>$$$$</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid price range.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="coffeeShopCity" class="form-label h6">City:</label>
      <select class="form-select form-control" id="coffeeShopCity" required>
        <option selected disabled value="">Choose...</option>
        <option>DENVER</option>
        <option>CO. SPRINGS</option>
        <option>FT. COLLINS</option>
        <option>BOULDER</option>
        <option>GOLDEN</option>
        <option>LITTLETON</option>
        <option>LAKEWOOD</option>
        <option>WESTMINSTER</option>
        <option>PARKER</option>
        <option>WHEAT RIDGE</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid city.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="coffeeShopPhoneNumber" class="form-label h6">Phone Number:</label>
      <input type="tel" class="form-control" id="coffeeShopPhoneNumber" required>
      <div class="invalid-feedback">
        Please type a valid phone number.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="coffeeShopDrinks" class="form-label h6">Drinks:</label>
      <select class="form-select form-control" id="coffeeShopDrinks" required>
        <option selected disabled value="">Choose...</option>
        <option>Yes</option>
        <option>No</option>
      </select>
      <div class="invalid-feedback">
        Please select one option.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="coffeeShopSnack" class="form-label h6">Snacks:</label>
      <select class="form-select form-control" id="coffeeShopSnack" required>
        <option selected disabled value="">Choose...</option>
        <option>Yes</option>
        <option>No</option>
      </select>
      <div class="invalid-feedback">
        Please select one option.
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="coffeeShopLatitude" class="form-label h6">Latitude:</label>
      <input class="form-control" type="number" min="-90" max="90" step="0.000001" name="latitude" id="coffeeShopLatitude" placeholder="39.6932713" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a valid value.
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="coffeeShopLongitude" class="form-label h6">Longitude:</label>
      <input class="form-control" type="number" min="-180" max="180" step="0.000001" name="longitude" id="coffeeShopLongitude" placeholder="-104.8150918" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a valid value.
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="coffeeShopWifi" class="form-label h6">Wi-Fi:</label>
      <select class="form-select form-control" id="coffeeShopWifi" required>
        <option selected disabled value="">Choose...</option>
        <option>Yes</option>
        <option>No</option>
      </select>
      <div class="invalid-feedback">
        Please select one option.
      </div>
    </div>

  <div class="form-group col-12">
      <label for="coffeeShopWebsite" class="form-label h6">Website:</label>
      <input class="form-control" type="url" id="coffeeShopWebsite" placeholder="https://library.du.edu/" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a valid URL.
      </div>
    </div>
    <div class="form-group col-12">
      <label for="coffeeShopDescription" class="h6">Description</label>
      <textarea class="form-control" id="coffeeShopDescription" rows="3"
        placeholder="Please provide the description or details you have in mind about the coffee shop."
        required></textarea>
      <div class="invalid-feedback">
        Please you MUST provide a description.
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label h6" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12 mb-4 mt-4">
      <button type="submit" class="btn btn-primary">Add Coffee Shop</button>
    </div>
  </form>

</div>


<!-- <script src="/js/alert.js"></script> -->
<script src="/js/addCoffeeshop.js"></script>