<section class="container container-fluid mt-5 mb-3">
  <div class="row justify-content-center">
    {{#each coffeeshops as |coffeeshop|}}
    <div class="col-12">
      <div class="card p-2 border border-secondary">
        <div class="card-body gradient-bg">
          <h5 class="card-title h2"><a href="/api/coffeeshops/{{coffeeshop.id}}">{{coffeeshop.name}}</a></h5>
        </div>
        <div class="card-body">
          <p class="card-text text-info h5">{{coffeeshop.address}}</p>
          <p class="h6 text-dark">posted by: {{user.id}} on </p>
        </div>
      </div>
    </div>

    {{/each}}

  </div>
  <div class="addCoffee button-container">
    <a href="/addCoffeeshop"><button class="btn btn-primary mt-2 mb-2"><i class="fas fa-plus mb-3 mt-3"></i> Add CoffeeShop</button></a>
    <a href="/"><button class="btn btn-primary"><i class="fas fa-arrow-left mb-3 mt-3"></i> Back to cities</button></a>
  </div>

</section>