<div class="col-12 pt-5">
    <form class="form update-form">
        <div class="form-group">
            <label for="feedbackDescription">Feedback:</label>
            <input value="{{description}}" class="form-input" id="feedbackDescription" name="description"></input>
            <input value="{{id}}" class="form-input" type="hidden" id="feedback-id"/>
        </div>
        <div class="mb-5 mt-5">
            <button type="submit" class="btn btn-primary">Update Feedback</button>
        </div>
    </form>
</div>

<script src="/js/updateFeedback.js"></script>