<section class="bg">
  <div class="pt-5 pb-1 rounded">
    <div class="mb-4 pt-1 ml-3">
      <h1 class="mainh1">
        <a class="text-primary" href="/"> <img class="rounded" src="/logo-coffeeoutlet.png" alt="Logo"> Coffee Outlet</a>
      </h1>
    </div>
    <p class="h1 ml-3 mr-3 mb-3 text-dark text-justify">Welcome to Coffee Outlet! We're thrilled to have you join our community
      dedicated to helping you find the
      perfect spot to study, work, and savor a delicious cup of coffee in a tranquil environment. Whether you're a
      student, a remote worker, or simply seeking a serene space to be productive, our app is designed to guide you to
      the
      best places that offer the ideal blend of ambiance, comfort, and productivity. </p>

  </div>
  <section class="homepage mt-2">
    <div class="box">
      <h2><a href="/api/coffeeshops/city/DENVER">DENVER</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/CO. SPRINGS">CO. SPRINGS</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/FT. COLLINS">FT. COLLINS</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/BOULDER">BOULDER</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/GOLDEN">GOLDEN</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/LITTLETON">LITTLETON</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/LAKEWOOD">LAKEWOOD</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/WESTMINSTER">WESTMINSTER</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/PARKER">PARKER</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/WHEAT RIDGE">WHEAT RIDGE</a></h2>
    </div>
  </section>

</section>

<script src="./js/homepage.js"></script>