
<section class="">
  <h1>WELCOME COFFEELOVER!</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda consequatur perspiciatis quaerat itaque harum officiis quos voluptatum. Facilis delectus debitis id ab quam a. Quia doloremque temporibus consectetur tempora corrupti iure pariatur laboriosam soluta, nesciunt deleniti, dicta autem, earum quae? Totam aliquid praesentium illum sed! Non voluptatibus tempore doloremque fugiat delectus ullam repellendus aliquid dolores ducimus porro animi, voluptatum excepturi</p>
  <div class="box">
    {{!-- {{#each coffeeshops as |coffeeshop|}}
    {{#if coffeeshop.name === 'denver'}} --}}
    <h2><a href="/api/coffeeshops/city/denver">DENVER</a></h2>
    {{!-- {{/if}}
    {{/each}} --}}
  </div>
  <div class="box">
    <h2><a href="/api/coffeeshops/city">CO. SPRINGS</a></h2>
  </div>
  <div class="box">
    <h2><a href="/api/coffeeshops/city">FORT COLLINS</a></h2>
  </div>
  <div class="box">
    <h2><a href="/api/coffeeshops/city">BOULDER</a></h2>
  </div>
  <div class="box">
    <h2><a href="/api/coffeeshops/city">OTHER</a></h2>
  </div>
</section>

<script src="./js/homepage.js"></script>