<section class="bg pt-5">
  <div class="mb-4 pt-1 ml-3">
    <h1 class="mainh1">
      <a class="text-primary" href="/"> <img class="rounded" src="/logo.png" alt="Logo"> Coffee Outlet</a>
    </h1>
  </div>
  <p class="h2 ml-3 mr-3 mb-3 text-dark">Welcome to Coffee Outlet! We're thrilled to have you join our community
    dedicated to helping you find the
    perfect spot to study, work, and savor a delicious cup of coffee in a tranquil environment. Whether you're a
    student, a remote worker, or simply seeking a serene space to be productive, our app is designed to guide you to the
    best places that offer the ideal blend of ambiance, comfort, and productivity. </p>
  <section class="homepage">
    <div class="box">
      <h2><a href="/api/coffeeshops/city/Denver">DENVER</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/Colorado Springs">CO. SPRINGS</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/Ft. Collins">FT. COLLINS</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/Boulder">BOULDER</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/Golden">GOLDEN</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/Littleton">LITTLETON</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/Lakewood">LAKEWOOD</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/Westminster">WESTMINSTER</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/Parker">PARKER</a></h2>
    </div>
    <div class="box">
      <h2><a href="/api/coffeeshops/city/Wheat Ridge">WHEAT RIDGE</a></h2>
    </div>
  </section>

</section>

<script src="./js/homepage.js"></script>