{{!-- {{#each coffeeshops as |coffeeshop|}}
  <div class="coffeeshop">
    <h2>{{coffeeshop.name}}</h2>
    <p>{{coffeeshop.picture}}</p>
    <p>{{coffeeshop.price_range}}</p>
  </div>
{{/each}} --}}

<h1>TEST</h1>