<section class="">
  <h1>WELCOME COFFEELOVER!</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda consequatur perspiciatis quaerat itaque harum officiis quos voluptatum. Facilis delectus debitis id ab quam a. Quia doloremque temporibus consectetur tempora corrupti iure pariatur laboriosam soluta, nesciunt deleniti, dicta autem, earum quae? Totam aliquid praesentium illum sed! Non voluptatibus tempore doloremque fugiat delectus ullam repellendus aliquid dolores ducimus porro animi, voluptatum excepturi</p>
  <div class="box">
    <h2><a href="/api/coffeeshops/city/Denver">Denver</a></h2>
  </div>
  <div class="box">
    <h2><a href="/api/coffeeshops/city/Colorado Springs">CO. SPRINGS</a></h2>
  </div>
  <div class="box">
    <h2><a href="/api/coffeeshops/city/Ft. Collins">FT. COLLINS</a></h2>
  </div>
  <div class="box">
    <h2><a href="/api/coffeeshops/city/Boulder">BOULDER</a></h2>
  </div>
  <div class="box">
    <h2><a href="/api/coffeeshops/city">OTHER</a></h2>
  </div>
</section>

<script src="./js/homepage.js"></script>