<section class="bg">
  <div class=" mb-4">
    <h1>
      <a href="/">Coffee Outlet <i class="fas fa-coffee"></i></a>
    </h1>
  </div>
  <h3>Welcome to Coffee Outlet! We're thrilled to have you join our community dedicated to helping you find the
    perfect spot to study, work, and savor a delicious cup of coffee in a tranquil environment. Whether you're a
    student, a remote worker, or simply seeking a serene space to be productive, our app is designed to guide you to the
    best places that offer the ideal blend of ambiance, comfort, and productivity. Get ready to discover your new
    favorite spot where you can unleash your creativity and fuel your passion while enjoying the perfect cup of coffee.
    Let's find your sanctuary for productivity and relaxation together!</p>
    <section class="homepage">
      <div class="box">
        <h2><a href="/api/coffeeshops/city/Denver">Denver</a></h2>
      </div>
      <div class="box">
        <h2><a href="/api/coffeeshops/city/Colorado Springs">CO. SPRINGS</a></h2>
      </div>
      <div class="box">
        <h2><a href="/api/coffeeshops/city/Ft. Collins">FT. COLLINS</a></h2>
      </div>
      <div class="box">
        <h2><a href="/api/coffeeshops/city/Boulder">BOULDER</a></h2>
      </div>
      <div class="box">
        <h2><a href="/api/coffeeshops/city/Golden">GOLDEN</a></h2>
      </div>
      <div class="box">
        <h2><a href="/api/coffeeshops/city/Littleton">LITTLETON</a></h2>
      </div>
      <div class="box">
        <h2><a href="/api/coffeeshops/city/Lakewood">LAKEWOOD</a></h2>
      </div>
      <div class="box">
        <h2><a href="/api/coffeeshops/city/Westminster">WESTMINSTER</a></h2>
      </div>
      <div class="box">
        <h2><a href="/api/coffeeshops/city/Parker">PARKER</a></h2>
      </div>
      <div class="box">
        <h2><a href="/api/coffeeshops/city/Wheat Ridge">WHEAT RIDGE</a></h2>
      </div>
    </section>

</section>

<script src="./js/homepage.js"></script>