<head><!-- Bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</head>

<section class="container container-fluid mt-5 mb-5">
    <h2>Welcome, #USER!</h2>
    <p class="text-primary text-center fw-bold">Don't forget to leave feedback and add your favorite cozy spots to Coffee Outlet!<br></br>
        Every piece of feedback or added spot can earn you points towards your next cuppa!</p>
</section>
<section class="container container-fluid mt-5 mb-5">
    <h2>Shops You've Added(?)</h2>
</section>